

.myNav {
    background-image: linear-gradient(to right, rgb(0, 7, 139) , rgb(2, 116, 150));

    a img {
        width: 220px;
        height: 80px;
    }

    .cartBtn {
        background-color: rgb(237, 181, 40);
        color: rgb(252, 242, 223);
        width: 60px;
    }
}