


<div class="container">

    <h2>Bestsellers Details</h2>

    
    <div *ngIf="product" class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="card">
            <img src="{{product.image}}" class="card-img-top" alt="{{product.name}}">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">S{{product.price | currency}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{product.description}}</li>
              <li class="list-group-item">{{product.details}}</li>
            </ul>
            <div class="card-body">
                <button (click)="addToCart()" class="btn btn-outline-success">Add to cart</button>
            </div>
        </div>
    </div>
</div>
