

<div class="container">
    <h2>Cart</h2>

    <div class="cart-item" *ngFor="let item of cart">

        <h4>{{item.name}}</h4>
        <h4>{{item.description}}</h4>
        <p>{{item.price | currency}}</p>
        <hr><br>
    </div>

    <form [formGroup]="cartForm" (ngSubmit)="onSubmit()">

        <div>
            <label for="name">
              Name
            </label>
            <input id="name" type="text" formControlName="name">
        </div>
        <div>
            <label for="address">
              Address
            </label>
            <input id="address" type="text" formControlName="address">
        </div>

        <button class="btn btn-outline-primary" type="submit">Purchase</button>
    </form>

</div>

