

.myContainer {
    margin: 3rem 8rem;
    font-family: sans-serif;
    max-width: 1200px;
    
    h2 {
        color: rgb(42, 18, 148);
        margin-bottom: 1rem;
        font-weight: bolder;
    }

    .myCard {
        height: 380px;
        width: 260px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;

        img {
            height: 220px;
            width: 100%;
            padding-bottom: 10px;
        }
    }

}